<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="logFile"
            xsi:type="File"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Type,ToString}; logger = ${logger}"
            fileName="${basedir}/logs/Log.current.txt"
            archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="5242880"
            maxArchiveFiles="9" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>

</nlog>
